.navbutton1{
      height: 900px;
      width: 100px;
      margin-left: 100px;
      
      
}
.demonav{
       height: 50PX;
       width: 100PX;
      
       color: white;
}
.c{
      background-color: black;
}