.c1{
    height:100px;
    color:"white";
    background-color:rgb(8, 60, 32);
    margin: 1px;

    color: white;
    
}
.c2{
    margin-Left:900px;
    margin-top: 50px;
  border-color: white;
  color: white;
  background-color:rgb(19, 69, 19);


}

